:root{
    --main-clr : #dfcf76;
    --lte-clr : #f4f4f4;
    --drk-clr: #282e34;
    --hvr-clr: #ff651d;
}
body,
html {
    height: 100%;
    margin: 0;
    font-size: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.25;
    color: #666;
}

header{ 
    position: fixed;
    display: inline-box;
}

nav{
    display: block;
    border: 2px solid var(--drk-clr);
    background-color: var(--main-clr);
    text-align: right;
    
}
nav a{
    color: var(--drk-clr);
    font-size: 3em;
    font-weight: bold;
    margin: 1.1em;

}
nav a:hover{
    color: var(--hvr-clr);
}


.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    scroll = normal
  */
    background-attachment: fixed;
}

.pimg1 {
    /* background-image: url('./img/image1.jpg'); */
    background-image: url("https://source.unsplash.com/random/?dogs");
    min-height: 100%;
}

.pimg2 {
    /* background-image: url('./img/image2.jpg'); */
    background-image: url('https://source.unsplash.com/random/?dog');
    min-height: 100%;
}

.pimg3 {
    /* background-image: url('./img/image3.jpg'); */
    background-image: url('https://source.unsplash.com/random/?dogs/1');
    min-height: 100%;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: var(--lte-clr);
    color: #666;
}

.section-dark {
    background-color: var(--drk-clr);
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 3rem;
    letter-spacing: .8em;
    text-transform: uppercase;
}

.ptext .border {
    background-color: var(--main-clr);
    color: #fff;
    padding: .3em;
    opacity: .8;
}

.ptext .border.trans {
    background-color: transparent;
}

.border{
    font-size: 4rem;
}
footer{
    display: grid;
    text-align: center;
}
h4{
    font-size: 3rem;
    
}
i{
    font-size: 3.5rem;
}
h2{
    font-size: 3em;
}

p{
    font-size: 1.8em;
}
@media(max-width:568px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}
